.combats
  width: 100%
  .combat, .newcombat
    margin: 1%
    border-radius: 2em
    background: #eee
    font-size: 150%
    text-align: center
    cursor: pointer
    .name
      padding: 2%
      width: 80%
      border-top-left-radius: 2em
      border-bottom-left-radius: 2em
      display: inline-block
    .delete-link
      padding: 2%
      display: inline-block
      width: 20%
      border-top-right-radius: 2em
      border-bottom-right-radius: 2em
      background: #DD0000
  .newcombat
    padding: 2%
    background: black
    color: white