.games
  width: 100%
  .game, .newgame
    margin: 1%
    border-radius: 2em
    background: #eee
    font-size: 150%
    text-align: center
    cursor: pointer
    .name
      padding: 2%
      width: 80%
      border-top-left-radius: 2em
      border-bottom-left-radius: 2em
      display: inline-block
    .delete-link
      padding: 2%
      display: inline-block
      width: 20%
      border-top-right-radius: 2em
      border-bottom-right-radius: 2em
      background: #DD0000
  .newgame
    padding: 2%
    background: black
    color: white

.game-players
  display: block
  clear: both
  .invited
    width: 200px
    display: inline-block
    border: solid 1px black
    border-radius: 4px
    padding: 5px
    position: relative
    .avatar
      float: left
      display: inline-block
    .textual
      display: inline-block
      vertical-align: middle
    a
      display: inline-block
      height: 100%
      cursor: pointer
      position: absolute
      right: 0
      top: 0

