.creature-band
  .creature-band-item ng-repeat='creature in creaturesBand.getCreatures()' ng-class="{'acting': (creature == creaturesBand.getActingCreature())}"
    | {{ creature.p.name }}
  .clearfix